@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  body {
    letter-spacing: -0.2px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: #666666;
    background-color: #ffffffcc;
    overflow-x: hidden;
  }
  h1 {
    color: #171717;
  }
}
